@import "../../../GlobalColors.scss";

#carousel-container{
    width: 100% !important;
    position: relative;
    z-index: 2;
    overflow: hidden;
    

    //arrows
    span{
        position: absolute;
        top: 50%;
        padding: 0.5rem;
        cursor: pointer;
        color: $white;
        transform: translateY(-50%);
        z-index: 1;

        svg{
            font-size: 2.5rem;
        }
    }

    span:first-of-type{
        left: 3rem;
    }

    span:nth-of-type(2){
        right: 3rem;
    }

    
        //dots
        #dots-container{
            position: absolute;
            width: 100%;
            height: 2rem;
            bottom: 6rem;
            display: flex;
            justify-content: center;
            z-index: 1;

            .active{
                background-color: $white !important;
            }
            .dot{
                position: static;
                display: block;
                width: 1rem;
                height: 1rem;
                background-color: $light-grey;
                border-radius: 50%;
                margin: 0 0.5rem;
            }

        }
    
    #carousel{
        display: grid;
        grid-template-columns: repeat(4, 100%);

        .carousel-item{
            padding: 20rem 4rem 6rem;
            color: $white;
            background-size: cover;
            background-position: center;
            margin: 5rem 1.7rem 5rem 3rem;
            transition: opacity 1s;

            h2{
                padding-bottom: 1rem;
            }

            p{
                line-height: 1.4;
            }
        }

    }
}

@media screen and (max-width: 500px){
    .carousel-item{
        p{
            display: none;
        }
    }
}

@media screen and (min-width: 996px){
    .carousel-item{
        padding: 20rem 10rem 6rem !important;
    }
}