@import "./components/Header/Navbar/Navbar.scss";
@import "./components/Header/Carousel/Carousel.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    overflow-x: hidden;
}

.logo-font{
    font-size: 3rem;
}

.smaller-font{
    font-size: 1.5rem;
}

.small-font{
    font-size: 1.7rem;
}

.medium-font{
    font-size: 2.15rem;
}

.mid-font{
    font-size: 2rem;
}

.large-font{
    font-size: 3.5rem;
}

.larger-font{
    font-size: 4rem;
}

section{
    padding: 0 3rem;
}

//all section
section#all{
    max-width: 700px;
    width: 100vw;
    margin: auto;

    img{
        display: block;
        width: 100%;
        object-fit: cover;
    }

    & > *{
        // padding: 0 3rem;
    }

    .grid-left{
        
        
    }

    .grid-middle{
        margin-bottom: 6rem;
        .grid-middle-item{

        }
    }

    .grid-right{

        h2{
            padding: 2.2rem;
            border: 1px solid $light-grey;
        }

        .grid-right-quote{
            
            .quote-item{
                padding: 2rem;
                border: 1px solid $light-grey;

                h3{
                    padding-bottom: 0.8rem;
                }
            }
        }
    }

    //global for this section
    img{
        margin: 3rem 0;
    }
}

.cat-date{
    font-variant: small-caps;
    margin-bottom: 1rem;

    .category{

    }

    .dot-middle{

    }

    .date{

    }
}

.img-name{
        display: flex;
        align-items: center;
        gap: 1rem;

    img{
        display: inline-block !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
    }

    span{
    }
}

.small-desc{

    span{
        display: block;
        padding: 1.5rem 0;
    }

    p{

    }
}

.section-header{
    border-bottom: 2px solid $black;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:first-child{
        text-transform: capitalize;
    }

    span:last-child{
        border-bottom: 3px solid $black;
        text-transform: uppercase;
        padding: 0.5rem;
    }
}

//middle-two sections
section.middle-two-section{
    margin: 6rem 0 8rem;
    .middle-section-left{

        img{
            width: 100%;
            object-fit: cover;
            margin: 2.5rem 0;
        }

        .first-part{

            h1{
                font-size: 2.5rem;
                padding-bottom: 1.5rem;
            }

            p{
                line-height: 1.5;
            }

        }

        .second-part{
            border-bottom: 1px solid $light-grey;
            padding-bottom: 2.5rem;
        }

        .third-part{
            padding: 2.5rem 0 0;
        }

        .last-part{

        }
    }

    .middle-section-right{
        
        .cat-date-quote{
            border-bottom: 1px solid $light-grey;
            padding: 2.5rem 0 1.7rem;

            .quote-item{
                
                h3{
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}

.cat-date{
    color: $grey-dark;
}



//footer
#footer{
    background-color: $black;
    color: $white;
    border: 1px solid transparent;
    margin-top: 5rem;
    
    a{
        color: white;
        text-decoration: none;
        display: block;
        width: max-content;
        margin: 2rem 0;
        
        &::after{
            content: "";
            margin-top: 0.5rem;
            display: block;
            width: 100%;
            height: 2.5px;
            background-color: $white;
        }
    }
    
    #foot-head{
        margin: 5rem 0rem ; 

        .small-desc{

            span{
                font-size: 1.7rem;
            }
    
            p{
                letter-spacing: 0.03rem;
                color: $light-grey;
            }
        }


        & > span > a{
            color: $light-grey !important;
        }

        & > span > a::after{
            background-color: $light-grey;
        }

        & > span:hover >a{
            color: $white !important;
        }
        
        & > span:hover > a::after{
            background-color: white !important;
        }
    }
    
    h3{
        text-transform: capitalize;
    }
    #foot-links{
        display: flex;
        justify-content: space-between;
        max-width: 50%;
        
        
        ul{
            list-style-type: none;
            padding: 3rem 0;
            
            li{
                padding: 0.5rem;
                display: flex;
                align-items: center;
                color: $light-grey;
                cursor: pointer;

                &:hover{
                    color: $white;
                }
                
                span{
                    display: flex;
                    align-items: center;
                }
            }
        }
        
        #navigation-links{
            
        }
        
        #categories-links{
            
        }
    }
    
    #recent-posts{
        
        h3{
            padding: 1rem 0;
        }
        
        .recent-post{
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 1.5rem;
            margin-bottom: 1.5rem;
            max-width: 75%;
            cursor: pointer;
            
            img{
                display: block;
                width: 45px;
                height: 45px;
                object-fit: cover;
            }
            
            div{
                font-size: 1.5rem;
                grid-column: 2 / 3;
                margin: 0;
            }
            div.title{
                margin-top: -2.5rem;
                color: $light-grey;

                &:hover{
                    color: $white;
                }
            }
        }
    }

    #foot-last-part{
        padding: 5rem 0;
        text-align: center;
        
        #foot-last-left{
            padding-bottom: 2rem;
            
            p{
                padding: 0.5rem 0;
            }
        }
        
        #foot-last-right{
            
            & > *{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgb(35, 34, 34);
                margin-right: 0.5rem;
                cursor: pointer;

                &:hover{
                    background-color: $bright-black;
                }
            }
        }
    }
}

//blog-section
#single-post{
    margin: 4rem auto 5.5rem;
    padding: 0 1.7rem;

    #single-post-left{

        #single-post-part{

            .quote-item{

                h3{
                    font-size: 2.8rem;
                }

                span{
                    padding: 4rem 0 2.5rem !important;
                    display: inline-block !important;
                    font-size: 1.6rem;
                    padding: 5rem 0 2.5rem;

                    &::first-letter{
                        font-size: 7.5rem;
                        float: left;
                        line-height: 0.7;
                        padding-right: 0.3rem;
                    }
                }
            }
        }

        #img-para{

            figcaption{
                margin: 1.5rem 0 2rem;
            }

            p{
                padding-bottom: 2rem;
            }
        }

        #comment-reply-section{
            margin-bottom: 4.5rem;

            .comment-head{
                padding: 1rem 0 3.5rem;
            }

            .comment-reply-container{

                img{
                    display: block;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .comment-reply{
                    display: flex;
                    gap: 1.5rem;
                    margin-bottom: 1.5rem;

                    .name-day{
                        display: flex;
                        gap: 1rem;
                        margin-bottom: 0.8rem;

                        span{
                            font-size: 1.3rem;
                            color: $grey-dark;
                        }
                    }
                    p{
                        line-height: 1.55;
                    }
                }

                .reply{
                    padding: 1.2rem;
                    margin-left: 5rem;
                    margin-bottom: 2rem;;
                    background-color: $grey-white;
                }
            }
        }
    }

    #single-post-right{
        
        //popular trending latest section 
        #pop-trend-lat{
            margin-bottom: 3rem;

            header#pop-trend-lat-head{
                display: flex;
                gap: 2rem;
                font-variant: small-caps;

                h1{
                    cursor: pointer;
                }

            }

            #PDL-grid-container{
                width: 100%;
                overflow: hidden;
            }

            #PDL-grid{
                display: grid;
                grid-template-columns: repeat(3,100%);
                transition: transform 0.5s ease-in-out;
                // overflow: hidden;

                & > * > *{
                    padding-bottom: 1.3rem;
                    margin-top: 2rem;
                    border-bottom: 3px solid $grey-white;
                }
            }
        }

        #video{

            h1{
                padding-bottom: 0;   
            }

            img{
                display: block;
                height: 20rem;
                object-fit: cover;
                margin: 3rem 0;
            }
        }

        @mixin list-div{
            text-transform: capitalize;
            display: flex;
            padding: 1.5rem 0;
            color: $grey-dark;
            cursor: pointer;
        }

        #categories{

            .list{
                padding: 2.5rem 0 0;

                div{
                    @include list-div;
                    border-bottom: 2px solid $grey-white;

                    &:hover{
                        color: $bright-black;
                    }

                }
            }
        }

        #tags{

            .list{
                padding: 2.5rem 0 0;

                div{
                    @include list-div;
                    display: inline-block;
                    border: 2px solid $grey-white;
                    padding: 1rem;
                    margin-right: 0.4rem;
                    margin-bottom: 0.4rem;
                    transition: all 0.4s;

                    &:hover{
                        border-color: $bright-black;
                        color: $bright-black;
                    }
                }
            }
        }

        //for tags and categories part
        .single-post-bottom-head{
            text-transform: uppercase;
            padding-bottom: unset;
        }


    }

}

//for line below text
.active-title::after{
    margin-top: 0.3rem;
    content: "";
    width: 100%;
    display: block;
    height: 1.75px;
    border-radius: 1px;
    background-color: black;

}


//form styling global
.form-container{
    margin-bottom: 3rem;

    h2{
        
    }

    form{

        &>*{
            display: block;
        }

        label{
            margin-top: 1.3rem;
            margin-bottom: 0.3rem;
        }

        input{
            line-height: 2;
            width: 100%;
            text-indent: 1rem;
        }
        textarea{
            padding: 1rem;
            width: 100%;
            min-height: 20rem;
        }

        input[type="submit"]{
            width: max-content !important;
            text-indent: unset;
            padding: 0.6rem 1.4rem !important;
            background-color: $black;
            color: $white;
            border-radius: 0.5rem;
            margin-top: 1.5rem;
        }
    }
}

//contact page
#contact{
    padding: 0 2rem;
    max-width: 900px;
    margin: auto;
    
    h1{
        font-size: 6rem;
        letter-spacing: 0.2rem;
        text-align: center;
        padding: 5rem 0;
    }

    #contact-info-wrapper{
        text-align: center;

        .contact-info{
            margin-bottom: 3rem;

            .icon{
                font-size: 5rem;
            }

            .detail-title{
                text-transform: uppercase;
                padding: 2rem 0;
            }

            .detail{

            }
        }
    }

    .form-container{
        padding: 2rem;
        padding-top: 1rem;
        box-shadow: 0 0 20px $transparent;

        input[type="submit"]{
            margin-left: auto;
            margin-right: auto;
            text-transform: capitalize;
            cursor: pointer;

            &:hover{
                background-color: $bright-black;
                border-color: $bright-black;
                outline: $bright-black;
            }
        }
    }
}

//about us page 
#about{
    padding: unset;

    #top-about{
        padding: 5rem 3rem 1rem;

        h1{
            text-align: center;
            font-size: 5rem;
        }

        .about-grid{
            
            .about-info{
                margin: 5rem 0 8rem;

                img{

                }

                div{

                    h4{
                        color: $grey-dark;
                        text-transform: uppercase;
                        padding-top: 2rem;
                    }
                }
            }
        }
    }

    .about-grid{

        .about-info{

            img{
                width: 100%;
            }
        }
    }

    #latest-news{
        background-color: $grey-white;
        padding: 4rem 3rem 6.5rem;

        .active-title{
            text-transform: uppercase;
            font-size: 1.4rem;
            width: max-content;
        }

        .active-title::after{
            height: 3px;
            border-radius: 3.5px;
        }

        #about-img-container{
            padding: 3rem 0 0;
            display: grid;
            grid-template-columns: 47.5% 47.5%;
            column-gap: 5%;

            img{
                width: 100%;
            }

            img:last-child{
                margin-top: 3rem;
            }
        }
    }

    #our-team{
        text-align: center;
        padding: 7rem 0;

        .small-about-sec{
            max-width: 500px;
            margin: auto;
        }

        #team-grid{

            .staff-info{
                margin-top: 6rem;

                img{
                    width: 22rem;
                    height: 22rem;
                    object-fit: cover;
                    border-radius: 50%;
                }

                h1{
                    padding: 2rem 0 0.5rem;
                }

                span{
                    text-transform: uppercase;
                    font-size: 1.45rem;
                }

                p{
                    padding-top: 1.7rem;
                }
            }
        }


    }
}

//global for about us page

.small-about-sec{

    span{
        display: block;
        margin: 0.5rem 0 3rem;
        text-transform: capitalize;
    }

    p{
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
}


//tablet
@media screen and (min-width: 770px) {

    section{
        max-width: 770px;
        margin: 6rem auto 8rem !important;
    }
    
    section#footer{
        margin-bottom: 0 !important;
        max-width: unset;
        padding: 0 6rem;
    }

    .middle-two-section-inner{
        display: grid;
        grid-template-columns: 75% auto;
        column-gap: 2rem;
    }

    #single-post{
        display: flex;
        // width: 75%;
        max-width: 900px !important;
        gap: 13%;

        & > #single-post-left{
            flex-basis: 65% !important;
        }

        & > #single-post-right{
            flex-basis: 35% !important;
        }
    }

    #contact{
        #contact-info-wrapper{
            display: flex;
            justify-content: space-around;
            padding-bottom: 2rem;

            & > *{
                flex-basis: calc(100% / 3);
            }

            & > *:not(& > *:last-child)
            {
                border-right: 3px solid $grey-white;
            }
        }
    }

    //about page
    #about{

        #top-about{

            .about-grid{

                .about-info{
                    display: grid;
                    grid-template-columns: 55% auto;
                    gap: 7rem;

                    h4{
                        padding: unset !important;
                    }
                }

                .about-info:last-child{
                    grid-template-columns: auto 55%;

                    img{
                        grid-column: 2 /3;
                    }

                    div{
                        grid-row: 1 / 2;
                    }
                }
            }
        }
    }

    #our-team{

        #team-grid{

            .staff-info{

                img{
                    width: 30rem !important;
                    height: 30rem !important;
                }
            }
        }
    }
}


//desktop
@media screen and (min-width : 996px){
    section#all{
        display: grid;
        grid-template-columns: 30% 48% 22%;
        max-width: unset;

        .grid-left{
            border-right: 1px solid $light-grey;
        }

        .grid-middle{
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            gap: 4rem;
            padding: 0 2rem;
            
            img{
                // height: 12rem;
            }
        }
    }
    
    section{
        max-width: unset;
    }
    
    .middle-two-section-inner{
        padding-top: 3.5rem;
        grid-template-columns: repeat(4,calc((100% / 4) - (6rem / 4))) !important;
        
        .middle-section-left{
            grid-column: 1/ 4;
            display: grid;
            column-gap: 2rem;
            grid-template-columns: repeat(3, calc((100% / 3) - (4rem / 3)));
            
            .first-part{
                display: grid;
                column-gap: 2rem;
                grid-column: 1 / 4;
                grid-template-columns: calc(100% / 3 * 2 - 1rem) calc(100% / 3 - 1rem);
            }
            
            .last-part{
                grid-column: 2 / 4;
            }
        }
        
        .middle-section-right{
            grid-column: 4 / 5;
        }
    }
    
    section#business{
        
        .middle-two-section-inner{
            grid-template-rows: auto;
            
            .middle-section-left{
                grid-column: 2 / 5 !important;
            }
            
            .middle-section-right{
                grid-column: 1 / 2 !important;
                grid-row: 1 / 2;
            }
        }
    }
    
    section#footer{
        
        #foot-top{
            padding-top: 7rem;
            display: grid;
            column-gap: 5rem;
            grid-template-columns: repeat(3, auto);
            
            #foot-head{
                margin: unset;
                
                span:first-of-type{
                    padding-top: 0;
                }
            }
            
            #recent-posts{
                
                h3{
                    padding-top: 0;
                }
                
                .recent-post{
                    max-width: unset;
                }
            }

            #foot-links{
                column-gap: 7rem;
            }
        }
    }

    //single post page
    #single-post{
        max-width: unset !important;
        padding: 0 3rem;
        gap: 10rem;
    }

    //about page
    #about{

        #latest-news{

            .about-grid{
                display: grid;
                grid-template-columns: 45% 45%;
                gap: 10%;
            }
        }
    }

    
    #our-team{
        padding: 8rem 5rem 0 !important;

        #team-grid{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            gap: 3rem;

            .staff-info{

                img{
                    width: 17.5rem !important;
                    height: 17.5rem !important;
                }
            }
        }
    }
    
}