// @import "../../../App.scss";
@import "../../../GlobalColors.scss";

#navbar-wrapper{
    position: sticky;
    top: 0;
    z-index: 3;

    #navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.8rem 1rem;
        background-color: $grey-white;
        
        .nav-middle{
            overflow: auto;
            position: fixed;
            height: 100vh;
            top: 97.1px;
            left: 0;
            width: 100%;
            font-variant: small-caps;
            background-color: $grey-white;
            transition: transform 0.2s, background-color 2s;

            li > *{
                color: $black;
                text-decoration: none;
            }

            li > a{
                display: block;
                // margin-bottom: 0.7rem;
            }
            
            li span.icon{
                display: flex;
                align-items: center;
                position: absolute;
                right: 2rem;
                cursor: pointer;
                top: 0.7rem;
            }

            li{
                padding: 1rem;
                position: relative;
                margin: 0.5rem;
                transition: transform 0.5s ease-in-out;
            }
            
            ul{
                list-style-type: none;
            }

            li{
                background-color: $grey-white;
                border: 3px solid $light-grey;
            }
            
            ul#nav-links{

                li#dropdown-first, li#dropdown-deep{
                    // overflow: hidden;
                }

                li#dropdown-first, li.link-list-item{
                    
                    #container-1{
                        display: grid;

                        ul#dropdown-first-list{
                            overflow: hidden;
                        
                            li#dropdown-deep{
                                

                                #container-2{
                                    display: grid;

                                    ul#deep-dropdown-list{
                                        overflow: hidden;
                                    }
                                }

                                }  
                        }
                    }

                }
            }

        }

        

        .nav-right{
            display: flex;
            align-items: center;

            .icon{
                padding: 0.7rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (width <= 330px) {
    .nav-right{
        .icons-container{
            display: none !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    #navbar-wrapper{

        #navbar{
            //middle nav
            .nav-middle{
                position: unset;
                flex-basis: 35%;
                max-width: 550px;
                min-width: 450px;
                text-transform: capitalize;
                display: block;
                height: unset;
                overflow: unset;

                li > *{
                    color: $black;
                    text-decoration: none;
                }

                li{
                    border: none;
                    padding: unset;
                    margin: unset;
                }

                li span.icon{
                    position: unset;
                }
                
                ul#nav-links{
                    display: flex;
                    list-style-type: none;
                    justify-content: space-between;
                    position: relative;

                    li#dropdown-first, li#dropdown-deep{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }

                    li#dropdown-first, li.link-list-item{
                        position: relative;
                        cursor: pointer;
                        padding: 0.7rem;
                        display: flex;
                        z-index: 2;

                        #container-1{
                            transition: all 0.35s;
                            position: absolute;
                            width: 150%;
                            top: 100%;
                            display: grid;

                            ul#dropdown-first-list{
                            list-style-type: none;
                            background-color: $grey-white;
                            overflow: hidden;
                            transition: all 0.5s;
                            border: 1px solid $light-grey;
                            
                                li#dropdown-deep{
                                    position: static;

                                    #container-2{
                                        transition: all 0.35s;
                                        position: absolute;
                                        background-color: $grey-white;
                                        right: 100%;
                                        top: calc(34px * 2);
                                        width: 100%;
                                        display: grid;

                                        ul#deep-dropdown-list{
                                        list-style-type: none;
                                        width: 100%;
                                        transition: all 0.5s;
                                        overflow: hidden;
                                        border: 1px solid $light-grey;
                                        }
                                    }

                                    }  
                            }
                        }

                    }
                }
            }

            .nav-right{
    
                span#toggle.icon{
                    display: none;
                }
            }
            
        }
    }
}

//single-post
#single-post{
    max-width: 500px;
    margin: auto;

    img{
        width: 100%;
    }
}